// Option, Parametres et Reset

// Import minireset

@import "libs/reset.scss";

$gray: #ffc1f5;
$light-gray: #4ecb61;
$black: #100c0c;
$white: #f5f9fc;
$blue: #b4f6ff;
$border-radius: 20px;

* {
	color: $black;
	font-family: Arial, Helvetica;
}

html {
	scroll-behavior: smooth;
}

// Body

body {
	background-color: $white;
	height: 10000px;
}

// Navbar

nav {
	position: fixed;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	background-color: $gray;
	height: 100px;
	z-index: 100;

	img.logo {
		border-radius: 100%;
		height: 70px;
		width: 70px;
	}

	a {

		&:hover {
			color: $white;
		}

	}

	.nav-links {

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			li {
				margin: 0 30px;

				a.active {
					font-weight: 600;
				}
			}
		}
	}

	.menu-hamburger {
		display: none;
		position: fixed;
		right: 50px;
		width: 35px;
	}
}

.scroll-block {
	overflow-y: hidden;
}

// Header

header{
	padding-top: 200px;
	background-color: $light-gray;
	height: 400px;
	width: 100%;
	color: $white;

	h1{
		margin-left: 10%;
		font-size: 50px;
		text-decoration: underline;
	}

	h3{
		margin-left: 10%;
		margin-top: 30px;
		font-size: 20px;
	}
}

// Sections

section{

	&.section-marge{
		padding-left: 5%;
		padding-top: 250px;
	}

	.section-content{
		margin-left: 10px;
		margin-top: 50px;
	}

	h2{
		font-size: 50px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background-color: $light-gray;
			width: 50px;
			height: 7px;
			bottom: 0;
		}
	}

	&#activities{
		height: 550px;
		background-color: $blue;

		div{
			display: flex;
			width: 97%;
			height: 370px;
			overflow-x: scroll;
			overflow-y: hidden;

			div.card{
				background-color: $light-gray;
				margin-left: 50px;
				margin-right: 50px;
				min-width: 250px;
				max-width: 250px;
				height: 350px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				border-radius: $border-radius;
				overflow: hidden;

				h3{
					font-size: 20px;
				}

				img{
					border-radius: $border-radius;
					height: 70%;
				}
			}
		}
	}
	
}

// Média Query

@media screen and (max-width: 500px) {
	// Header

	header{
		padding-top: 200px;
		background-color: $light-gray;
		height: 300px;

		h1{
			margin-left: 6%;
			font-size: 40px;
			text-decoration: underline;
		}

		h3{
			margin-left: 6%;
			margin-top: 20px;
			font-size: 15px;
		}
	}
}

@media screen and (max-width: 900px) {

    // Navbar

	nav {
		background-color: $gray;
		position: fixed;
		padding: 0;

		.menu-hamburger {
			display: block;
		}

		img.logo {
			margin-left: 30px;
			width: 70px;
			height: 70px;
		}

		.nav-links {
            backdrop-filter: blur(7px);
            top: 0;
            left: 0;
            position: absolute;
            background: none;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;

			ul {

                display: flex;
			    flex-direction: column;
			    align-items: center;

				li {
					margin: 20% 0;
					font-size: 1.2em;
				}
			}
		}

		.nav-links.mobile-menu {
			margin-left: 0;
		}
	}
}